/* 
    Document   : CSS
    Created on : 06.08.2013, 23:43:00
    Author     : Alexander Hehn
    Description: Styles für die Sidepanels, das Hauptmenü und einen Teil der Navigation
*/

@charset "UTF-8";


/* Hintergrund und Position der Google Maps Seite */
div#map-canvas {
	top: 0px ;
	right: 0px ;
	bottom: 0px ;
	left: 0px ;
	background-image: url(themes/images/ajax-loader.gif) ;
	background-repeat: no-repeat ;
	background-position: center ;
}


/*.ui-icon-map {
	background-image: url("../bilder/navigation/icon_map.png";
}

.ui-icon-qr {
	background: url("../bilder/navigation/icon_qr.png") no-repeat rgba(0, 0, 0, 0.4);
}

.ui-icon-building {
	background: url("../bilder/navigation/icon_building.png") no-repeat;
	background-size: 18px 18px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-map {
	background: url("../bilder/navigation/icon_map.png") no-repeat rgba(0, 0, 0, 0.4) !important;
	background-size: 18px 18px;
	}

	.ui-icon-qr {
	background: url("../bilder/navigation/icon_qr.png") no-repeat rgba(0, 0, 0, 0.4) !important;
	background-size: 18px 18px;
	}

	.ui-icon-building {
	background: url("../bilder/navigation/icon_building.png") no-repeat rgba(0, 0, 0, 0.4) !important;
	background-size: 18px 18px;
	}
}*/

